/* styles.css */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: unset;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Nunito, sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  width: 100%;
}
:root {
  --primary-color: #9747ff;
}

h1 {
  font-weight: 1000;
}

/**************** Sign ******************/

.sign {
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding: 1rem 0rem;
  position: relative;
}

.sign-done {
  height: 5rem;
  padding: 0rem;
  transition: height 1s ease-in;
  -webkit-transition: height 1s ease-in;
  -moz-transition: height 1s ease-in;
  -ms-transition: height 1s ease-in;
  -o-transition: height 1s ease-in;
}

/****************** App body ********************/
.app-body {
  padding: 2rem;
  opacity: 0;
  animation: 0.3s fadeIn 1.2s forwards;
  -webkit-animation: 0.3s fadeIn 1.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**************** Input ****************/

.input-container {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 1.6rem;
  padding-bottom: 0.4rem;
  border: none;
  border: 1px solid gray;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  outline: none;
}

.invalid-input {
  border: 2px solid red;
}

.input::placeholder {
  color: transparent;
}

.input:placeholder-shown + label,
label {
  font-size: 1.4rem;
  text-align: left;
  position: absolute;
  left: 0;
  top: 1rem;
  padding: 0.2rem 1.1rem;
  color: gray;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  cursor: text;
}

.input:focus {
  border: 2px solid gray;
}

.input:not(:placeholder-shown) + label,
.input:focus + label {
  font-size: 0.8rem;
  color: var(--primary-color);
  top: 0.2rem;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.input:focus + .txt-right {
  text-align: right;
  width: 100%;
}

/***************** sign ******************/

h1 {
  width: 100%;
  font-size: 2.4rem;
}
.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 26rem;
  margin: auto;
  padding: 0 1rem;
  padding-top: 3rem;
  color: white;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.switch {
  cursor: pointer;
  text-decoration: underline;
  padding: 0.2rem;
}

/*************** logout ******************/

.logout {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  cursor: pointer;
}

/************** Admin *************/

.admin-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.search {
  padding: 0.6rem 3rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  min-width: 40vw;
  flex: 1 1;
}
